* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /* Light Theme*/
    
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    /* Dark Theme */
    --Very-dark-Blue: hsl(235, 21%, 11%);
    --Very-dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Very-dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-dark-Grayish-Blue: hsl(237, 14%, 26%);

    --font: 'Josefin Sans';

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22,23,34);
    background: linear-gradient(90deg, rgba(22,23,34,1) 34%, rgba(37,8,48,1) 79%);
}

.header__title{
    width: 80%;
    display: flex;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    height: 50%;
    font-size: 1.5rem;
    padding-bottom: 1em;
    padding-top: 1em;
    color: var(--Very-Light-Gray);
}

.content__btn {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--Very-Light-Gray);
}

.content__btn button {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    cursor: pointer;
}

/*input*/

.content__input--add {
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
}

.content__input--add input {
    height: 100%;
    width: 70%;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 1rem;
    text-align: center;
    border: 1px solid var(--Very-dark-Blue);
}

.content__input--add input:focus {
    outline: none;
}

.content__input--add button {
    width: 25%;
    height: 100%;
    border: none;
    font-family: var(--font);
    color: var(--Very-Light-Gray);
    background-color: var(--Very-dark-Blue);
}

/*task*/

.task__content {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 1px solid var(--Dark-Grayish-Blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.task {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.check__task {
    width: 10%;
    height: 100%;
    font-family: var(--font);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--Very-Dark-Grayish-Blue);
}

.title__task {
    font-size: 1.4rem;
    font-family: var(--font);
    width: 80%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    color: var(--Very-dark-Grayish-Blue);
}

.task__delete_btn {
    width: 10%;
    font-family: var(--font);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: var(--Very-Light-Gray);
    background-color: var(--Very-dark-Blue);
}

.task__information{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tasks__to_complete {
    width: 45%;
    text-align: center;
    padding-top: 0.5em;
    font-size: 1rem;
    font-family: var(--font);
}

.btn__clear_complete_task {
    width: 30%;
    border: none;
    color: var(--Very-Light-Gray);
    cursor: pointer;
    background-color: var(--Very-dark-Blue);
}
 
/*operations*/

.operations {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.get__all_task, .get__active_task, 
.get__complete_task {
    width: 30%;
    font-family: var(--font);
    font-size: 0.9rem;
    padding: 1em;
    text-align: center;
    border: none;
    cursor: pointer;
    color: var(--Very-Light-Gray);
    background-color: var(--Very-dark-Blue);
}

.get__complete_task {
    width: 35%;
    font-size: 0.8rem;
}


@media  screen and (min-width: 460px) {
    .task__content {
        width: 90%;
    }
    
}

@media  screen and (min-width: 560px) {
    .task__content {
        width: 80%;
    }
    
}


@media  screen and (min-width: 620px) {
    .task__content {
        width: 70%;
    }
    
}

@media  screen and (min-width: 720px) {
    .task__content {
        width: 60%;
    }

    .content__input--add {
        width: 50%;
    }
    
}

@media  screen and (min-width: 920px) {
    .task__content {
        width: 50%;
    }
    
}

@media  screen and (min-width: 1020px) {
    .task__content {
        width: 40%;
    }

    .check__task {
        width: 8%; 
    }
    
}

@media  screen and (min-width: 1080px) {
    .task__content {
        width: 35%;
    }
    
}